.lescours {
    width: 80vw;
    margin: auto;
}

.titrecours {
    background-color: lightblue;
    padding: 0.5%;
    border: 1px solid darkslategray;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.desccours {
    padding: 0.5%;
    border-left: 1px solid darkslategray;
    border-right: 1px solid darkslategray;

}

.lescours:last-child{
    border-bottom: 1px solid darkslategray;

}
